In [0]:
import numpy as np
import pandas as pd
np.random.seed(101)

###The code bellow creates a multi level dataframe

In [0]:
 # Index Levels
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [4]:
outside

['G1', 'G1', 'G1', 'G2', 'G2', 'G2']

In [5]:
inside

[1, 2, 3, 1, 2, 3]

In [6]:
list(zip(outside,inside))

[('G1', 1), ('G1', 2), ('G1', 3), ('G2', 1), ('G2', 2), ('G2', 3)]

In [7]:
hier_index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [0]:
df = pd.DataFrame(np.random.randn(6,2),hier_index,['A','B'])

#This is a multi-level index

In [9]:
df

             A         B
G1 1  2.706850  0.628133
   2  0.907969  0.503826
   3  0.651118 -0.319318
G2 1 -0.848077  0.605965
   2 -2.018168  0.740122
   3  0.528813 -0.589001

#we can extract the data from a multi-level index by

In [37]:
df.loc['G2'].iloc[1]

A   -2.018168
B    0.740122
Name: 2, dtype: float64

In [33]:
df.loc['G1']['A']

Num
1    2.706850
2    0.907969
3    0.651118
Name: A, dtype: float64

##To label indexes we use the function

In [0]:
df.index.names=['Group','Num']

In [17]:
df

                  A         B
Group Num
G1    1    2.706850  0.628133
      2    0.907969  0.503826
      3    0.651118 -0.319318
G2    1   -0.848077  0.605965
      2   -2.018168  0.740122
      3    0.528813 -0.589001

In [25]:
df.loc['G2'].loc[2]['B']

0.7401220570561068

###To idex a specific cell we do it by the following way

In [26]:
df.loc['G1'].loc[2]['B']

0.5038257538223936

##The crossection function sx

In [27]:
df

                  A         B
Group Num
G1    1    2.706850  0.628133
      2    0.907969  0.503826
      3    0.651118 -0.319318
G2    1   -0.848077  0.605965
      2   -2.018168  0.740122
      3    0.528813 -0.589001

In [28]:
df.loc['G1']

            A         B
Num
1    2.706850  0.628133
2    0.907969  0.503826
3    0.651118 -0.319318

In [29]:
#Another option is
df.xs('G1')

            A         B
Num
1    2.706850  0.628133
2    0.907969  0.503826
3    0.651118 -0.319318

To index 2 sub - groups of different gropus

In [30]:
df.xs(1,level='Num')

              A         B
Group
G1     2.706850  0.628133
G2    -0.848077  0.605965